.code-block-list {
    display: grid;
    row-gap: 20px;

    .code-block-card {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        padding: 20px;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: darken(white, 5%);
        }
    }
}
