.code-block-list {
    display: grid;
    row-gap: 32px;

    .code-block-card {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        border-radius: 20px;
        padding: 20px;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: darken(white, 5%);
        }

        .code-block-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block-end: 12px;
            .remove-btn {
                cursor: pointer;
                height: 14px;
                width: 14px;
                transition: scale .2s;
                &:hover {
                    scale: 1.25;
                    font-weight: 700;
                }
            }
        }

        pre {
            margin: 0;
            code {
                border-radius: 8px;
            }
        }
    }
}
